{% load bootstrap4 %}
<!DOCTYPE html>
<html lang='ko'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <title>Developer SPEC UP!</title>
   {% bootstrap_css %}
</head>
<body>
<div class='container'>
<br>
<div class="row">
  <a href="{% url 'argorithms:create' %}">[새로운 알고리즘 사이트 등록]</a>
  <a href="{% url 'argorithms:index' %}">[알고리즘 사이트 목록]</a>
  <a href="{% url 'accounts:signup' %}">[회원가입]</a>
  <a href="{% url 'accounts:login' %}">[로그인]</a>
  <a href="{% url 'accounts:update' %}">[프로필 수정]</a>
  <form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <a href='#' onclick='this.parentNode.submit(); return false;'>[로그아웃]</a>
  </form>
  <form action="{% url 'accounts:delete' %}" method="post">
    {% csrf_token %}
    <a href='#' onclick='this.parentNode.submit(); return false;'>[회원삭제]</a>
  </form>
  <a href="{% url 'accounts:index' %}">[회원목록]</a>
</div>
<br>
<br>
<h1>Developer SPEC UP!</h1>
<hr>
{% block content %}
{% endblock content %}
</div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>