{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col-5">
      <h2>{{argorithm.title}}</h2>
    </div>
    <div class="col-4">
      <h3>작성자 : {{argorithm.user}}</h3>
    </div>
    <div class="col-1">
      <form action="{% url 'argorithms:like' argorithm.pk %}" method="post">
      {% csrf_token %}
      {% if user in argorithm.like_users.all %}
        <button type="submit" class="btn btn-sm">좋아요 취소</button>
      {% else %}
        <button type="submit" class="btn btn-primary btn-sm">좋아요</button>
      {% endif %}
      </form>
    </div>
    <div class="col-2">
      ♥ {{argorithm.like_users.count}}
    </div>
  </div>
  <hr>
  <h6>{{argorithm.content}}</h6>
  <br>
  <p>[주소] <a href="{{argorithm.url}}"> {{argorithm.url}} </a></p>
  <br>
  <a href="{% url 'argorithms:update' argorithm.pk %}">[글 수정]</a>
  <form action="{% url 'argorithms:delete' argorithm.pk %}" method="post">
    {% csrf_token %}
    <a href='#' onclick='this.parentNode.submit(); return false;'>[글 삭제]</a>
  </form>
  <br>
  <br>
  <a href="{% url 'argorithms:index' %}">[BACK]</a>
  <hr>
  {% for comment in comments %}
  <p>
    [{{comment.user}}]: {{comment}}
    <form action="{% url 'argorithms:comments_delete' argorithm.pk comment.pk %}" method="post">
    {% csrf_token %}
    <a href='#' onclick='this.parentNode.submit(); return false;'>[댓글 삭제]</a>
    </form>
  </p>
  {% endfor %}
  <br>
  <form action="{% url 'argorithms:comments_create' argorithm.pk %}" method="post">
    {% csrf_token %}
    {{comment_form}}
    <a href='#' onclick='this.parentNode.submit(); return false;'>[댓글 작성]</a>
  </form>
{% endblock content %}